prune examples
prune tests
prune docs
prune .*
prune .egg-info
exclude .*

include segysak/openzgy/open-zgy/LICENSE.txt
include segysak/openzgy/open-zgy/README.md
include segysak/openzgy/open-zgy/python/LICENSE.txt
include segysak/openzgy/open-zgy/python/README.md
include segysak/openzgy/open-zgy/python/setup.py
include segysak/openzgy/open-zgy/python/requirements.txt
include segysak/openzgy/open-zgy/python/openzgy/*.py
include segysak/openzgy/open-zgy/python/openzgy/impl/*.py
include segysak/openzgy/open-zgy/python/openzgy/test/*.py
include segysak/openzgy/open-zgy/python/openzgy/tools/*.py
