/* Customized styles */

/* Sidebar header background */
.wy-side-nav-search, .wy-nav-top {
    background: #eee;
  }
  
  /* Sidebar header text */
  .wy-side-nav-search > div.version {
    color: #131413
  }
  
 /* segysak name */
  .wy-side-nav-search > a {
      color: #131413
  }

  /* Navigation headings */
  .wy-menu .caption-text {
    color: #068c2a;
    font-weight: bold;
  }

  /* To fix equation numbering in rtd theme. */
  span.eqno {
    margin-left: 5px;
    float: right;
  }
  span.eqno a {
    display: none;
  }

table.colwidths-given {
    table-layout: fixed;
    width: 100%;
}

table.docutils td {
    white-space: unset;
    word-wrap: break-word;
}